main {
  height: 600px;
  display: flex;
  justify-content: center;
  section {
    display:flex;
    flex-direction: column;
    background-color: pink;
    height: 600px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .row1 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid black 2px;
    }
  }
  .row2 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid black 2px;
    }
  }
  .row3 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid black 2px;
    }
  }
  .row4 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid black 2px;
    }
  }
  .row5 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid black 2px;
    }
  }
  .row6 {
    display: flex;
    div {
      height: 100px;
      width: 79px;
      border: solid  black 2px;
    }
  }

}

img {
  height: 100px;
  width: 79px;
}
